Package: com.dasilvatrevor.PokemonLockscreen
Name: Pokemon lockscreen
Version: 1.0
Architecture: iphoneos-arm
Description: A Pokemon HTML lockscreen. This was created using Groovylock
Maintainer: Trevor <dasilvatrevor@gmail.com>
Author: Trevor <dasilvatrevor@gmail.com>
Section: Lockscreen
